<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>{{ title }}</title>
</head>
<body>

    <header>{% include "nav.njk" %}</header>

    <main class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            {{ content | safe }}
        </div>
    </main>

    <footer>&copy; 2023 Strapi PoC</footer>
    

    <script type="text/javascript" src="{{ '/assets/js/index.js' | url }}"></script>
</body>
</html>