{% block html_head %}
    {% include "partials/_html-head.njk" %}
{% endblock %}

    <body>

        {% block header %}
            {% include "partials/_header.njk" %}
        {% endblock %}
        
        <main class="container">

            <div class="container__inner grid">

                {% include "partials/_sidenav.njk" %}
                
                {% block content %}
                    Sorry no content
                {% endblock %}
            </div>

        </main>

        {% block footer %}
            {% include "partials/_footer.njk" %}
        {% endblock %}

    </body>

</html

